services:
  prometheus:
      image: prom/prometheus:latest
      container_name: prometheus
      volumes:
        - ./prometheus:/etc/prometheus
      command:
        - '--config.file=/etc/prometheus/prometheus.yml'
      ports:
        - "9090:9090"
      networks:
        - monitoring

  node_exporter:
      image: prom/node-exporter:latest
      container_name: node-exporter
      ports:
        - "9100:9100"
      networks:
        - monitoring

  alertmanager:
      image: prom/alertmanager:latest
      container_name: alertmanager
      volumes:
        - ./alertmanager:/etc/alertmanager
      command:
        - '--config.file=/etc/alertmanager/config.yml'
      ports:
        - "9093:9093"
      networks:
        - monitoring

  grafana:
      image: grafana/grafana:latest
      container_name: grafana
      ports:
        - "3000:3000"
      networks:
        - monitoring

networks:
  monitoring:
    driver: bridge